*{
    font-family: 'Noto Sans KR', sans-serif;
}


footer {
    background-color: #ffffff;
    color: #aeaaaa;
    font-family: Arial, sans-serif;
    border-top: 1px solid #999;
    margin: 150px 0;
    padding: 50px 0;
    white-space: nowrap;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.brand-info, .additional-info {
    flex: 1;
    padding: 10px;
}

.brand-info ul {
    list-style-type: none;
    padding: 0;
}

.brand-info ul li {
    margin: 5px 0;
    display: inline;
    margin-right: 10px;
}

footer p {
    font-size: 12px;
}

footer a {
    color: #a09e9e;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.additional-info h2 {
    font-size: 20px;
    margin-top: 20px;
}

.additional-info p {
    margin: 5px 0;
}

.additional-info {
    display: flex;
    flex-direction: column;
}

.info-section {
    margin-right: 20px;
}

.info-section h2 {
    font-size: 20px;
    margin-top: 0;
}

.footer-icons {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.sns_img {
    display: flex;
    flex-direction: row;
}


.footer-icon img {
    width: 30px;
    height: 30px;
    margin: 2px 5px;
}
footer h2{
    color: #2f2e2e;
    font-size: 18px;
}


.info_top{
    display: flex;
    margin: 0 auto;
}

.info_top>div{
    margin: 0 20px;
}

.info_bottom{
    display: flex;
    margin: auto auto;
    margin-top: 100px;
}

.info_bottom>div{
    margin: 0 80px;
}