html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #F5F5F5;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    position: relative;
    -webkit-user-select: none;
}

.site_name {
    position: absolute;
    width: 500px;
    font-size: 90px;
    left: -100px;
    top: -175px;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

.logo_img{
    position: absolute;
    top: -168px;
    left: 100px;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.login_btn_zone{
    width: 300px;
    display: flex;
    flex: 1 2;
    flex-direction: column;
}
.col{
    display: flex;
    align-items: center;
}
#join{
    width: 100px;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    margin: 0;
}

#join:hover{
    text-decoration: underline;
}

#home{
    width: 100px;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    margin: 0;
}

#home:hover{
    text-decoration: underline;
}

.sign_zone{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

#enter{
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: darkorange;
    color: white;
}

.go_home{
    background-color: lightgray;
    border-radius: 10px;
    color: black;
}

.home_zone{
    width: 300px;
    height: 30px;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 10px;
    cursor: pointer;
}
.xi-home-o{
    font-size: 30px;
    color: darkgreen;
    -webkit-user-select: none;
}