<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <style>
        body {
            min-height: 100vh;

            background: -webkit-gradient(linear, left bottom, right top, from(#92b5db), to(#1d466c));
            background: -webkit-linear-gradient(bottom left, #92b5db 0%, #1d466c 100%);
            background: -moz-linear-gradient(bottom left, #92b5db 0%, #1d466c 100%);
            background: -o-linear-gradient(bottom left, #92b5db 0%, #1d466c 100%);
            background: linear-gradient(to top right, #92b5db 0%, #1d466c 100%);
        }

        .input-form {
            max-width: 680px;

            margin-top: 80px;
            padding: 32px;

            background: #fff;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
            -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
        }
        .olmessagef {color: red; font-style: Italic;}
        .olmessaget {color: blue; font-style: Italic;}
    </style>
</head>
<body>
<div class="container">
    <div class="input-form-backgroud row">
        <div class="input-form col-md-12 mx-auto">
            <h4 class="mb-3">회원가입</h4>
            <form class="validation-form" th:action method="post" novalidate>
                <div class="mb-3">
                    <label for="name">이름</label>
                    <input type="text" class="form-control" id="name" placeholder="이름" value="" th:field="*{user.name}"
                           required>
                    <div class="invalid-feedback">
                        이름을 입력해주세요.
                    </div>
                </div>
                <div class="mb-3">

                    <label for="user_id">아이디</label>
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" id="user_id" placeholder="아이디" value=""
                           th:field="*{user.loginId}" required>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-outline-dark" id="overlappedID">아이디 중복체크</button>
                            </div>
                        </div>
                    <div class="invalid-feedback">
                        아이디를 입력해주세요.
                    </div>
                    <span id="olmessage"></span>

                </div>
                <div class="mb-3">
                    <label for="pw">비밀번호</label>
                    <input type="text" class="form-control" id="pw" placeholder="비밀번호" value=""
                           th:field="*{user.password}" required>
                    <div class="invalid-feedback">
                        비밀번호 입력해주세요.
                    </div>
                </div>

<!--                <div class="mb-3">-->
<!--                    <label for="pw_ch">비밀번호 확인</label>-->
<!--                    <input type="email" class="form-control" id="pw_ch" placeholder="비밀번호 확인" required>-->
<!--                    <div class="invalid-feedback">-->
<!--                        비밀번호를 한번 더 입력해주세요.-->
<!--                    </div>-->
<!--                </div>-->

                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="year">생년</label>
                        <input type="text" class="form-control" id="year" th:field="*{user.year}" required>

                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="month">생월</label>
                        <input type="text" class="form-control" id="month" th:field="*{user.month}" required>

                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="day">생일</label>
                        <input type="text" class="form-control" id="day" th:field="*{user.day}" required>

                    </div>
                </div>

                <div class="mb-3">
                    <div>성별</div>
                    <div class="form-check form-check-inline" th:each="gender : ${genderList}">
                        <input type="radio" th:field="*{user.gender}" th:value="${gender.description}" class="form-check-input">
                        <label th:for="${#ids.prev('gender')}" th:text="${gender.description}" class="form-check-label">남성</label>
                    </div>
                </div>


                <div class="mb-3">
                    <label for="address">주소</label>
                    <input type="text" class="form-control" id="address" placeholder="주소를 입력해주세요."
                           th:field="*{user.address}">
                </div>

                <div class="mb-3">
                    <label for="postal">우편번호</label>
                    <input type="text" class="form-control" id="postal" placeholder="우편번호를 입력해주세요."
                           th:field="*{user.postal}">
                </div>

                <div class="mb-3">
                    <label for="email">이메일</label>
                    <input type="text" class="form-control" id="email" placeholder="이메일을 입력해주세요."
                           th:field="*{user.email}">
                </div>

                <div class="mb-3">
                    <label for="phone">휴대폰</label>
                    <input type="text" class="form-control" id="phone" placeholder="-없이 입력해주세요"
                           th:field="*{user.phone}">
                </div>

                <label>SMS안내</label>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" th:field="*{user.advertising}" checked>
                    <label class="form-check-label" for="flexCheckChecked" >
                        뉴스메일 받기
                    </label>
                </div>

                <div class="mb-3">
                    <label for="deposit">예치금</label>
                    <input type="number" class="form-control" id="deposit" placeholder="예치할 금액을 입력해주세요"
                           th:field="*{user.deposit}">
                </div>
                <div class="mb-3">
                    <div>관심 카테고리</div>
                    <select class="form-select" th:field="${user.categoryId}">
                        <option value="">== 카테고리 선택 ==</option>
                        <option th:each="category : ${categories}" th:value="${category.id}"
                                th:text="${category.getCategoryTitle()}+'-'+${category.getCategory()}">카테고리
                        </option>
                    </select>
                </div>
                <button class="btn btn-primary btn-lg" type="submit" id="signup">
                    가입하기
                </button>
                <button class="btn btn-dark btn-lg" type="button" th:onclick="|location.href='@{/login/}'|">취소하기</button>
            </form>
        </div>
    </div>
</div>
<script>
    <!--    무시해도됨-->
    window.addEventListener('load', () => {
        const forms = document.getElementsByClassName('validation-form');

        Array.prototype.filter.call(forms, (form) => {
            form.addEventListener('submit', function (event) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }

                form.classList.add('was-validated');
            }, false);
        });
    }, false);

    // 비번확인
    function test() {
        var p1 = document.getElementById('ps').value;
        var p2 = document.getElementById('ps_ch').value;
        if (p1 != p2) {
            alert("비밀번호가 일치 하지 않습니다");
            return false;
        } else {
            alert("비밀번호가 일치합니다");
            return true;
        }
    }

    $("#overlappedID").click(function(){
        $("#signup").attr("type", "button");
        const id = $("#user_id").val();
        $.ajax({
            type: "get",
            async: false,
            url: "http://localhost:8080/login/idCheck",
            data: {id: id},
            success: function (data) {
                if(data == 1) {
                    $("#olmessage").text("이미 사용중인 ID 입니다.");
                    $("#olmessage").addClass("olmessagef");
                    $("#olmessage").removeClass("olmessaget");
                }else {
                    $("#olmessage").text("사용 가능한 ID 입니다.");
                    $("#olmessage").addClass("olmessaget");
                    $("#olmessage").removeClass("olmessagef");
                    $("#signup").attr("type", "submit");
                }
            }
        })
    });
</script>
</body>
</html>